:root {
	--max-width: 1000px;
	--max-form-width: 400px;
	--screen-edge-spacing: 2rem;
	--divider-size: 3px;
}
@media (max-width: 600px) {
	:root {
		--screen-edge-spacing: 1rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--background-color);
}

p, li, div, span, label {
	font-family: "DM Sans", sans-serif;
}

h1, h2, h3 {
	font-family: "Barlow Condensed", sans-serif;
	color: var(--font-color);
	margin: 0;
	margin-block-start: 1em;
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-size: 3.5rem;
	padding-inline-start: 0.3em;
	background-color: var(--primary-color);
	color: var(--font-color-primary);
}
@media (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 2.2rem;
	position: relative;
}
@media (max-width: 600px) {
	h2 {
		font-size: 2.0rem;
	}
}

h2::before {
	content: "";
	width: 100%;
	height: var(--divider-size);
	position: absolute;
	top: var(--divider-size);
	left: 0;
	background-color: var(--accent-color);
}

h3 {
	font-size: 1.5rem;
}

p {
	margin: 0;
	margin-block-start: 1em;
	color: var(--font-color);
}
h1 + p {
	font-size: 1.5rem;
	max-width: 50%;
}

body > header, body > main, body > footer {
	width: min(var(--max-width), calc(100vw - calc(2* var(--screen-edge-spacing))));
	margin-inline: auto;
}

.inputBox,
.selectBox {
	max-width: var(--max-form-width);
	position: relative;
	margin-block-start: 1em;
}
.inputBox > label,
.selectBox > label {
	position: absolute;
	font-size: 0.6rem;
	top: 0;
	left: 0;
}
.inputBox > input,
.selectBox > select {
	outline: none;
	border: none;
	background-color: var(--sheet-color);
	padding-top: 0.7rem;
	margin-top: 0.7rem;
	padding: 0.3rem 0;
	width: 100%;
	border-bottom: var(--divider-size) solid var(--primary-color);
	transition: all 0.2s ease-out;
}
.inputBox > input:focus,
.selectBox > select:focus {
	border-bottom-color: var(--accent-color);
}
.inputBox > input:invalid {
	border-bottom-color: var(--error-color);
}

form button[type=submit] {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 0.4em 1em;
	background-color: var(--accent-color);
	color: var(--font-color-accent);
	clip-path: polygon(0 0,40% 10%,38% 0%,88% 10%,100% 100%, 50% 90%, 52% 100%, 12% 90%);
	transition: all 0.2s ease-out;
}
form button[type=submit]:hover {
	transform: scale(1.1);
	clip-path: polygon(0 0,50% 10%,48% 0%,88% 10%,100% 100%, 60% 90%, 62% 100%, 12% 90%);
}

body > footer {
	margin-block-start: calc(10* var(--screen-edge-spacing));
	border-top-color: var(--accent-color);
	border-top-width: var(--divider-size);
	border-top-style: solid;
	padding-block-start: 1rem;
	padding-block-end: var(--screen-edge-spacing);
	padding-inline: clamp(1em, 10vw, 100px);
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

/* a { */
/* 	font-family: "DM Sans", sans-serif; */
/* 	color: var(--font-color); */
/* 	text-decoration: none; */
/*     outline: none; */
/* } */

/* p > a, */
/* li > a { */
/*     display: inline-block; */
/* 	font-size: 1rem; */
/*     position: relative; */
/*     z-index: 1; */
/*     transition: transform ease-in 0.1s; */
/* 	height: min-content; */
/* 	width: max-content; */
/* } */

/* p > a:active, */
/* li > a:active { */
/*     transform: scale(1.02); */
/* } */

/* p > a::before, */
/* li > a::before { */
/*     content: ""; */
/*     width: 100%; */
/*     height: var(--divider-size); */
/*     position: absolute; */
/*     bottom: var(--divider-size); */
/*     left: 0; */
/*     background-image: var(--gradient); */
/*     z-index: -1; */
/* } */

/* li > a::after, */
/* p > a::after { */
/*     --overlap: 0.2em; */
/*     content: ""; */
/*     width: 100%; */
/*     height: 100%; */
/*     position: absolute; */
/*     background-color: var(--primary-color); */
/*     opacity: 0; */
/*     z-index: -1; */
/*     transition: opacity ease-in 0.2s; */
/*     padding: var(--overlap); */
/*     border-radius: var(--overlap); */
/*     top: calc(-1 * var(--overlap)); */
/*     left: calc(-1 * var(--overlap)); */
/* } */

/* li > a:hover::after, */
/* p > a:hover::after, */
/* li > a:focus::after, */
/* p > a:focus::after { */
/*     opacity: 0.3; */
/* } */

/* nav { */
/* 	background-color: var(--primary-color); */
/* 	padding: 1rem; */
/* 	display: flex; */
/* } */
/* @media (max-width: 600px) { */
/* 	nav { */
/* 		margin-inline: 0; */
/* 		border-radius: 0; */
/* 	} */
/* } */

/* nav > a { */
/* 	font-size: 1.2rem; */
/* 	margin-inline-start: 3rem; */
/* 	font-family: "Barlow Condensed", sans-serif; */
/* 	text-transform: uppercase; */
/* 	color: var(--font-color-primary); */
/* } */
/* @media (max-width: 600px) { */
/* 	nav > a { */
/* 		font-size: 1rem; */
/* 		margin-inline-start: 1rem; */
/* 	} */
/* } */

/* nav > a:first-of-type { */
/* 	font-weight: bold; */
/* } */

/* nav > a:last-of-type { */
/* 	margin-inline-end: 3rem; */
/* } */

/* nav > a.material-icons:not(:last-child) { */
/* 	margin-inline: auto 0; */
/* } */

/* main a { */
/* 	position: relative; */
/* } */
/* main a::before { */
/* 	position: absolute; */
/* 	content: ""; */
/* 	left: -2px; */
/* 	bottom: -2px; */
/* 	height: 1px; */
/* 	width: calc(100% + 4px); */
/* 	background-color: var(--accent-color); */
/* 	opacity: 0.2; */
/* 	z-index: -1; */
/* 	border-radius: 2px; */
/* 	transition: all 0.2s ease-out; */
/* } */
/* main a:hover::before, */ 
/* main a:focus::before { */
/* 	height: calc(100% + 4px); */
/* } */

/* body > main, body > footer { */
/* 	width: min(var(--max-width), calc(100vw - calc(2* var(--screen-edge-spacing)))); */
/* 	margin-inline: auto; */
/* } */

/* body > a.material-icons { */
/* 	width: 24px; */
/* 	display: block; */
/* 	margin-inline: auto; */
/* 	position: sticky; */
/* 	bottom: var(--screen-edge-spacing); */
/* 	margin-block-start: 2em; */
/* 	background-image: var(--gradient); */
/* 	padding: 0.5em; */
/* 	border-radius: 24px; */
/* } */

/* form button { */
/* 	outline: none; */
/* 	text-transform: uppercase; */
/* 	font-family: "Barlow Condensed", sans-serif; */
/* 	font-weight: 500; */
/* 	font-size: 1rem; */
/* 	border: 2px solid var(--primary-color); */
/* 	border-radius: 5px; */
/* 	background-color: var(--background-color); */
/* 	padding: 0.25rem 0.5rem; */
/* 	color: var(--primary-color); */
/* 	cursor: pointer; */
/* 	transition: all 0.2s ease-out; */
/* } */

/* form button:hover { */
/* 	background-color: var(--primary-color); */
/* 	color: var(--font-color-primary); */
/* } */
/* form button:active, */
/* form button:focus { */
/* 	box-shadow: 4px 4px 0 0 var(--accent-color); */
/* } */

/* form label { */
/* 	padding: 0.5rem 2rem; */
/* 	height: 2rem; */
/* 	position: relative; */
/* 	box-sizing: border-box; */
/* 	line-height: 1rem; */
/* 	font-size: 1rem; */
/* } */
/* form label::before, */
/* form .hoverHelper::before { */
/* 	content: ""; */
/* 	position: absolute; */
/* 	display: block; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	top: 0; */
/* 	left: 0; */
/* 	transition: all 0.2s ease-out; */
/* 	background-color: var(--primary-color); */
/* 	opacity: 0; */
/* 	z-index: -1; */
/* } */
/* form label::before { */
/* 	border-radius: 1rem 0 0 1rem; */
/* } */
/* form .hoverHelper::before { */
/* 	border-radius: 0 1rem 1rem 0; */
/* } */
/* form .hoverHelper:focus-within + label::before, */
/* form .hoverHelper:hover + label::before, */
/* form .hoverHelper:focus-within::before, */
/* form .hoverHelper:hover::before { */
/* 	opacity: 0.1; */
/* } */

/* form .hoverHelper { */
/* 	display: flex; */
/* 	align-items: center; */
/* 	position: relative; */
/* } */
/* form input { */
/* 	border: none; */
/* 	outline: none; */
/* 	background: transparent; */
/* 	border-block-end: 1px solid var(--font-color); */
/* } */

/* body > footer { */
/* 	margin-block-start: calc(10* var(--screen-edge-spacing)); */
/* 	border-image-source: var(--gradient); */
/* 	border-image-slice: 1; */
/* 	border-top-width: var(--divider-size); */
/* 	border-top-style: solid; */
/* 	padding-block-start: 1rem; */
/* 	padding-block-end: var(--screen-edge-spacing); */
/* 	padding-inline: clamp(1em, 10vw, 100px); */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	box-sizing: border-box; */
/* } */

/* body > footer > section { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: center; */
/* } */

/* body > footer > section + section > a:first-child { */
/* 	display: flex; */
/* } */
/* body > footer > section + section > a:first-child::after { */
/* 	content: "language"; */
/* 	font-family: 'Material Icons'; */
/* 	line-height: 1; */
/* 	align-self: center; */
/* 	margin-inline-start: 0.2rem; */
/* } */

/* body > footer > section > a { */
/* 	margin-block-end: 0.5em; */
/* } */
