{{define "subheader"}}
<div class="subheader">
	<figure class="primary">
		<img src="/static/ClubIcon.webp" alt="club icon"/>
		<figcaption><h1>{{.Club.Name}}</h1></figcaption>
	</figure>
</div>
{{end}}

{{define "content"}}
	<h2>WIP</h2>
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
