<!DOCTYPE html>
<html lang="{{.Club.CC}}">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
			rel="preload"
			href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap"
			as="style"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap"
		/>
		<link
			rel="preload"
			href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
			as="style"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
		/>
		<link
			rel="preload"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			as="style"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
		<link rel="preload" href="/static/global.css" as="style" />
		<link
			rel="stylesheet"
			href="/static/global.css"
		/>
		<style>
		:root {
			--primary-color: {{.Club.Palette.Primary}};
			--accent-color: {{.Club.Palette.Accent}};
			--sheet-color: {{.Club.Palette.Sheet}};
			--error-color: red;
			--background-color: {{.Club.Palette.Background}};
			--font-color: {{.Club.Palette.Font}};
			--font-color-primary: {{.Club.Palette.FontPrimary}};
			--font-color-accent: {{.Club.Palette.FontAccent}};

			--max-width: 1000px;
			--max-form-width: 400px;
			--screen-edge-spacing: 2rem;
			--divider-size: 3px;
		}
		</style>
		{{template "style" .}}

		{{template "meta" .}}
	</head>

	<body>
		<header>
			<nav>
				<a href="/{{$.Club.Id}}">{{.Club.Shorthand}}</a>
				{{range .Locales.TopNavbar}}
					<a href="/{{$.Club.Id}}{{.Link}}">{{.Title}}</a>
				{{end}}
				<a href="{{.Supplementary.UserButtonLink}}" class="material-icons">account_circle</a>
				<a href="/search/images" class="material-icons">search</a>
			</nav>
		</header>
		{{template "subheader" .}}
		<main>
			{{template "content" .}}
		</main>
		<a class="material-icons" href="#">arrow_upwards</a>
		<footer>
			<section>
				<a href="https://github.com/jgero" referrerpolicy="no_referrer" target="_blank">GitHub</a>
				<a href="https://gitlab.com/jgero" referrerpolicy="no_referrer" target="_blank">GitLab</a>
			</section>
			<section>
				{{range .Locales.Footer}}
					<a href="{{.Link}}">{{.Title}}</a>
				{{end}}
			</section>
		</footer>
	</body>

</html>

<!-- empty defines here for optional templates -->
{{define "style"}}{{end}}
{{define "meta"}}{{end}}
{{define "subheader"}}{{end}}
