{{define "content"}}
<h1>{{.Locales.ErrorTitle}}</h1>
<h2>{{.Supplementary.ErrorCode}}</h2>
{{if eq .Supplementary.ErrorCode 404}}<p>{{.Locales.Error404Message}}</p>{{end}}
{{if eq .Supplementary.ErrorCode 401}}<p>{{.Locales.Error401Message}}</p>{{end}}
{{if eq .Supplementary.ErrorCode 500}}<p>{{.Locales.Error500Message}}</p>{{end}}
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
