{{define "content"}}
<h1>{{.Locales.RegisterTitle}}</h1>

{{if .Supplementary.EmailTaken}}<p>{{.Locales.EmailTakenMessage}}</p>{{end}}
<form method="POST">
	<div class="hoverHelper">
		<input type="text" name="username" autocomplete="name" required inputmode="text"
			pattern="^[a-zA-ZäöüÄÖÜß -]{5,45}$" autofocus>
	</div>
	<label for="username">{{.Locales.UsernameLabel}}</label>
	<div class="hoverHelper">
		<input type="email" name="email" autocomplete="email" required inputmode="email">
	</div>
	<label for="email">{{.Locales.EmailLabel}}</label>
	<div class="hoverHelper">
		<input type="password" name="password" autocomplete="current-password" required>
	</div>
	<label for="password">{{.Locales.PasswordLabel}}</label>
	<button type="submit">{{.Locales.RegisterButton}}</button>
</form>
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}

