{{define "header"}}
<h1>create a club</h1>
<p>Building a web presence for your club could not be easier.</p>
{{end}}

{{define "content"}}
<form method="POST">

	<!-- TODO: add patterns and such things to check for validity -->

	<h2>club information</h2>

	<section>
		<h3>full name</h3>
		<p>Put the full name of your club here. Usually this is a few words and about 30 letters.</p>
		<div class="inputBox">
			<label for="fullname">Full club name</label>
			<input type="text" name="fullname">
		</div>

		<h3>shorthand</h3>
		<p>Sometimes the full name is just too long to write out. A shorthand could be an acronym with
		about 3-10 characters.</p>
		<div class="inputBox">
			<label for="shorthand">Club shorthand</label>
			<input type="text" name="shorthand">
		</div>

		<h3>Club Id</h3>
		<p>Ids are used to uniquely identify the club in the system and will be referenced in the
		links in the adress bar. Users never have to interact with this Id and it cannot be changed
		later.</p>
		<div class="inputBox">
			<label for="clubid">Club identifier</label>
			<input type="text" name="clubid">
		</div>

		<h3>Description</h3>
		<p>Describe the club here in one short sentence. This will be displayed on the startpage and
		on some link previews to some pages of the club.</p>
		<div class="inputBox">
			<label for="description">Short description</label>
			<input type="text" name="description">
		</div>

		<h3>Language</h3>
		<p>Almost all text that is displayed on the pages of your club is written by you and your
		members, but some elements like the labels on buttons and similar things are provided by the
		system and need to be translated.</p>
		<div class="selectBox">
			<label for="language">Language</label>
			<select name="language">
				<option value="en">English</option>
				<option value="de">Deutsch</option>
			</select>
		</div>
	</section>

	<h2>appearance</h2>
	<p>Make the posts and timeline feel like home by painting them in the colors of you club. Every
	color group has multiple values for backgrounds and the color of the font on that
	background.</p>

	<section>
		<h3>primary color</h3>
		<p>The primary color will be used for components like buttons and spacers around headings.
		Using the most prevelent color in your club's logo would be a good choice for this.</p>
		<div class="inputBox">
			<label for="primaryColor">Primary color</label>
			<input type="color" name="primaryColor">
		</div>
		<div class="inputBox">
			<label for="primaryColorFont">Font color on primary color</label>
			<input type="color" name="primaryColorFont">
		</div>

		<h3>accent color</h3>
		<p>Accent colors are used to highlight certain things on the page like the input element a
		member is currently fucused on or to mark your own name in the member list of a poll.</p>
		<div class="inputBox">
			<label for="accentColor">Accent color</label>
			<input type="color" name="accentColor">
		</div>
		<div class="inputBox">
			<label for="accentColorFont">Font color on accent color</label>
			<input type="color" name="accentColorFont">
		</div>

		<h3>background color</h3>
		<p>The background color should be a pretty unobtrusive color because it is everywhere. The
		sheet color is used for the background of input elements, it also should not get in the way
		and have good contrast with the default font color. By using a different sheet and
		background color it is easier for members to see whether they can write something or not in
		an area.</p>
		<div class="inputBox">
			<label for="fontColor">Default font color</label>
			<input type="color" name="fontColor">
		</div>
		<div class="inputBox">
			<label for="backgroundColor">Background color</label>
			<input type="color" name="backgroundColor">
		</div>
		<div class="inputBox">
			<label for="sheetColor">Sheet color</label>
			<input type="color" name="sheetColor">
		</div>
	</section>

	<h2>admin account</h2>
	<p>The administrator will be the first member of the club and can modify all these settings
	later, as well as manage the members in the club.</p>

	<section>
		<h3>username</h3>
		<p>Use either your real name or maybe a nickname so other members recognize you.</p>
		<div class="inputBox">
			<label for="username">Administrator name</label>
			<input type="text" name="username">
		</div>

		<h3>e-mail</h3>
		<p>Every member needs to provide a E-Mail address for password reset and similar things.</p>
		<div class="inputBox">
			<label for="email">E-Mail</label>
			<input type="email" name="email">
		</div>

		<h3>Password</h3>
		<p>This probably should be self explanatory.</p>
		<div class="inputBox">
			<label for="password">Password</label>
			<input type="password" name="password">
		</div>
	</section>

	<h2>done</h2>
	<section>
		<h3>submit</h3>
		<p>Review your settings and when you are sure everything is set up correctly crete your
		club!</p>
		<button type="submit">create my club</button>
	</section>

</form>
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
