{{define "content"}}
<h1>{{.Locales.LoginTitle}}</h1>

{{if .Supplementary.WrongPassword}}<p>{{.Locales.PasswordWrongMessage}}</p>{{end}}
<form method="POST">
	<div class="hoverHelper">
		<input type="email" name="email" autocomplete="email" required inputmode="email" autofocus>
	</div>
	<label for="email">{{.Locales.EmailLabel}}</label>
	<div class="hoverHelper">
		<input type="password" name="password" autocomplete="current-password" required>
	</div>
	<label for="password">{{.Locales.PasswordLabel}}</label>
	<button type="submit">{{.Locales.LoginButton}}</button>
	<a href="/{{.Club.Id}}/register">{{.Locales.NoAccountLabel}}</a>
</form>
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
