{{define "subheader"}}
<h1>Host my Club</h1>
<p>{{.Locales.WelcomeMessage}}</p>
{{end}}

{{define "content"}}
<h2>Poll with members</h2>
<p>This is the polling feature. This is not developed yet but I have a pretty good idea of what it
should look like in the future.</p>
<img src="https://via.placeholder.com/800x550" alt="placeholder"/>
<p>Polling can be one of the most annoying oranizational things you have to do while managing a
club. The tool of Host my Club enables to not only poll for attendance in a meeting by responding
with yes or no, but also when trying to fill out work shifts where members need to select when they
want to attend.</p>
<img src="https://via.placeholder.com/800x550" alt="placeholder"/>

<h2>Distribute information</h2>
<p>There is always something going on in most clubs and it is crucial to keep all members up to date
at all times so noone feels left out. Posts in form of text and images can be published on your
personal club page. For content that is not supposed to be seen by the general public there is the
option to restrict it for club members or only the members polled in the post.</p>
<img src="https://via.placeholder.com/800x550" alt="placeholder"/>

<h2>Build your timeline</h2>
<p>Browsing through the history of your club could not be easier than with a timeline with your
posts sorted by their relevancy date.</p>
<img src="https://via.placeholder.com/800x550" alt="placeholder"/>

<h2>Get started</h2>
<p>What are you waiting for?</p>
<p><a href="/create">create my club</a></p>
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
