{{define "content"}}
<h1>
	<span>{{.Locales.ProfileTitle}}</span>
	<form method="POST" action="/{{.Club.Id}}/logout">
		<button type="submit">{{.Locales.LogoutButton}}</button>
	</form>
</h1>
<h2>
	{{.Locales.MyDataSection}}
	<form method="POST" action="/{{.Club.Id}}/user/{{.Supplementary.Userid}}/delete">
		<button type="submit">delete account</button>
	</form>
</h2>
<form method="POST" action="/{{.Club.Id}}/user/{{.Supplementary.Userid}}/rename" class="user">
	<div class="hoverHelper">
		<input type="text" name="username" autocomplete="name" required inputmode="text"
			pattern="^(?!^{{.Supplementary.Username}}$)[a-zA-ZäöüÄÖÜß -]{5,45}$" value="{{.Supplementary.Username}}">
	</div>
	<label for="username">{{.Locales.UsernameLabel}}</label>
	<button type="submit">{{.Locales.SaveButton}}</button>
</form>
<ul>
	<li><span>{{.Locales.EmailLabel}}</span><span>{{.Supplementary.Email}}</span></li>
	<li><span>{{.Locales.GroupsLabel}}</span>
		{{- range .Supplementary.Groups}}<span>{{.}}</span>{{end -}}
	</li>
	{{- if .Supplementary.IsAdmin}}<li>{{.Locales.AdminLabel}}</li>{{end -}}
	{{- if .Supplementary.IsEditor}}<li>{{.Locales.EditorLabel}}</li>{{end -}}
</ul>
{{if .Supplementary.IsAdmin}}
<h2>
	{{.Locales.AdminPanelSection}}
	<form method="POST" action="/{{.Club.Id}}/delete">
		<button type="submit">delete club</button>
	</form>
</h2>
	<h3>Club Data</h3>
	<form method="POST" action="/{{.Club.Id}}/update">
		<div class="inputBox">
			<label for="fullname">Club name</label>
			<input type="text" name="fullname" value="{{.Club.Name}}">
		</div>
		<div class="inputBox">
			<label for="shorthand">Club shorthand</label>
			<input type="text" name="shorthand" value="{{.Club.Shorthand}}">
		</div>
		<div class="inputBox">
			<label for="description">Club description</label>
			<input type="text" name="description" value="{{.Club.Description}}">
		</div>
		<div class="inputBox">
			<label for="primaryColor">Primary color</label>
			<input type="color" name="primaryColor" value="{{.Club.Palette.Primary}}">
		</div>
		<div class="inputBox">
			<label for="primaryColorFont">Font color on primary color</label>
			<input type="color" name="primaryColorFont" value="{{.Club.Palette.FontPrimary}}">
		</div>
		<div class="inputBox">
			<label for="accentColor">Accent color</label>
			<input type="color" name="accentColor" value="{{.Club.Palette.Accent}}">
		</div>
		<div class="inputBox">
			<label for="accentColorFont">Font color on accent color</label>
			<input type="color" name="accentColorFont" value="{{.Club.Palette.FontAccent}}">
		</div>
		<div class="inputBox">
			<label for="fontColor">Default font color</label>
			<input type="color" name="fontColor" value="{{.Club.Palette.Font}}">
		</div>
		<div class="inputBox">
			<label for="backgroundColor">Background color</label>
			<input type="color" name="backgroundColor" value="{{.Club.Palette.Background}}">
		</div>
		<div class="inputBox">
			<label for="sheetColor">Sheet color</label>
			<input type="color" name="sheetColor" value="{{.Club.Palette.Sheet}}">
		</div>
		<button type="submit">update club</button>
	</form>

	<h3>{{.Locales.GroupManagerSection}}</h3>
	{{range .Supplementary.Users}}
	<form method="POST" action="/{{$.Club.Id}}/user/{{.Userid}}/groups" class="user" id="{{.Userid}}">
		<div class="hoverHelper">
			<input type="text" name="groups" inputmode="text"
				pattern="^(([A-Za-zäöüÄÖÜß]{2,25}([A-Za-zäöüÄÖÜß]{2,25})?,)*([A-Za-zäöüÄÖÜß]{2,25}([A-Za-zäöüÄÖÜß]{2,25})?))?$"
				value="{{.Groups | join}}">
		</div>
		<label for="username">{{.Username}}</label>
		<button type="submit">{{$.Locales.SaveButton}}</button>
	</form>
	{{end}}
{{end}}
{{end}}

{{define "meta"}}
<title>{{.Title}}</title>
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
{{end}}
